@tailwind base;
@tailwind components;
@tailwind utilities;

/* БАЗОВЫЕ НАСТРОЙКИ */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Основной шрифт - Inter */
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

/* ЗАГОЛОВКИ (h1, h2, h3) БУДУТ МОДНЫМИ */
h1, h2, h3, h4, h5, h6, .font-display {
  font-family: var(--font-space), sans-serif;
  letter-spacing: -0.02em; /* Чуть сдвигаем буквы, как в люксовых брендах */
}

/* Наш фирменный скроллбар */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #fff;
  border-left: 1px solid #eee;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
  border: 1px solid #fff;
}

/* Утилиты */
input, button {
  outline: none;
}